.question {
  margin-top: 2rem;
}

.question + .question {
    padding-top: 1rem;
}

.question--info {
    font-size: 1.2rem;
    color: #666;
}

.question--answer {
    padding-left: 1rem;
    padding-top: 1rem;
}

.question--answer + .question--answer {
    border-top: 1px solid #ddd;
    margin-top: 1rem;
}

.post_question {
  font-size: 15px;
  width: 50%;
}